@charset "UTF-8";

 *{
                margin: 0px;
                padding: 0px;
            }
            html, body{
                width: 100vw;
                height: 100vh;
                background-color: #233eff;
                background-size: contain;
                background-repeat: no-repeat;
            }
            h1{
                color: azure;
                text-shadow: 1px 2px 2px #1526a7;
                padding: 10px;
            }
        /* declarações vertical*/
            @media screen and (orientation:portrait){
                body{
                    background: url(../imagens/cev-portrait.jpg);
                    background-position: center bottom;
                    background-repeat: no-repeat;
                }
            }
        /* declarações horizontal*/
        @media screen and (orientation: landscape){
            body{
                background: url(../imagens/cev-landscape.jpg);
                background-repeat: no-repeat;
                background-position: left bottom;
            }
        }