@charset "UTF-8";

/* dispositivo em pé (PORTRAIT)*/

body {
    background: url(../imagens/cev-portrait.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}